<section class="section fit d-flex align-items-center nav_padding">
    <div class="container container_space">
        <div class="row mb-4">
            <div class="col-sm-12 ">
                <div class="mb-3" >
                    <a (click)="goBack()" class="p_icon clear md bg-secondary text-white rounded hover" >
                        <i class="pi pi-arrow-left align-middle fs-7 " ></i>
                    </a>
                </div>
                <div>
                    <h2 class="h-font display-6 lh-base mb-1">Privacy Policy</h2>
                    <span class="underline start delay-1" pAnimateOnScroll enterClass="show"></span>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-12">
                <p>At Piramal Group (hereinafter referred to as “Piramal”), we take your privacy very seriously and are
                    committed to protect your personal data. This Privacy Notice sets out the way in which we collect,
                    use, disclose, transfer, and store your personal data when you use our website or other digital
                    platforms.</p>
                <p>You are advised to carefully read the Privacy Notice before using this website.</p>
                <p>Please note that our website and other digital platforms may contain links to third party websites /
                    digital platforms which are provided for your convenience. We are only responsible for the privacy
                    practices and security of our own digital platforms. We recommend that you check the privacy and
                    security policies and procedures of each and every other website / digital platform that you visit.
                </p>
                <p><strong><br>COLLECTION AND USE OF PERSONAL DATA</strong></p>
                <p>Personal data is data that can be used to identify or contact a single person (including but not
                    limited to name, address, e-mail address, user name, telephone number, age, date of birth, gender,
                    education qualifications, posts and other content you submit to our sites, sensitive information
                    such as information relating to your health life).</p>
                <p>All personal data that we collect about you will be recorded, used, and protected by us in accordance
                    with applicable data protection legislation and this Privacy Notice. We may supplement the
                    information that you provide with other information that we obtain from our dealings with you or
                    which we receive from other organisations, for example, our sponsors and partners. Please note, if
                    you don’t choose to provide us with the requested personal data, we will be unable to offer you our
                    products or services.</p>
                <p>In broad terms, we use your personal data for the following purposes:</p>
                <ul>
                    <li>to administer and provide products and services you request or have expressed an interest in
                    </li>
                    <li>to communicate with you in the event that any products or services you have requested are
                        unavailable</li>
                    <li>for fraud screening and prevention purposes</li>
                    <li>for record keeping purposes</li>
                    <li>to carry out market research so that we can improve the products and services we offer</li>
                    <li>to track your activity on our digital platforms</li>
                    <li>to create an individual profile for you so that we can understand and respect your preferences
                    </li>
                    <li>to personalise and improve your experience on our digital platforms</li>
                    <li>to personalise and/ tailor any communications that we may send you</li>
                    <li>for profiling purposes to enable us to personalise and/or tailor any marketing communications
                        that you may consent to receive from us</li>
                </ul>
                <p>When we provide you with products or services we may collect and store any personal data that you
                    provide to us. We may, for example, keep a record of your name, address, delivery address, email
                    address, telephone number and payment card details. We may also record details of any disability or
                    health needs that you may have.</p>
                <p>When you sign up with us for an online account, register to receive marketing communications from us
                    (and/or our sponsors and partners), fill in one of our forms (whether online or offline) or
                    otherwise expressly provide us with your personal data, we may collect and store any personal data
                    that you provide to us and may use it to personalise and improve your experience on our digital
                    platforms, provide products and services you request from us, and carry out profiling and market
                    research.</p>
                <p>When you interact with our digital platforms, we may also automatically collect the following
                    information about your visit. This is primarily to help us better understand how you use our digital
                    platforms to enable us create better content and more relevant communications:</p>
                <ul>
                    <li>how you have reached our digital platform and the internet protocol (IP) address you have used
                    </li>
                    <li>your browser type, versions and plug-ins, and your operating system</li>
                    <li>your journey through our digital platform, including which links you click on and any searches
                        you made, how long you stayed on a page, and other page interaction information</li>
                    <li>what content you like or share</li>
                    <li>which adverts you saw and responded to</li>
                    <li>which pop up or push messages you might have seen and responded to</li>
                    <li>your subscription status</li>
                    <li>information collected in any forms you complete</li>
                </ul>
                <p>We may also infer your country of location from the IP address you have used to access our digital
                    platforms and we may analyse which marketing activity led to your taking specific action on our
                    digital platforms (e.g. downloading the app).</p>
                <p><strong><br>OFFERS AND OPPORTUNTIES FROM US AND OUR PARTNERS</strong></p>
                <p>We want you to be the first to know about new products and services, and occasional offers from our
                    partners. We may share these offers with you only with your prior consent. You can unsubscribe from
                    receiving these offers by emailing us. Please note, if you don ‘t choose to receive this
                    information, we will be unable to keep you informed of new services, products, events or special
                    offers that may interest you and our ability to inform you of ticketing opportunities may be
                    affected.</p>
                <p><strong><br>CHILDREN</strong></p>
                <p>We understand the importance of taking extra precautions to protect the privacy and safety of
                    children using Piramal ‘s products and services.</p>
                <p>If you are under the age of 16, you must first tell your parent or legal guardian that you wish to
                    register on our digital platforms and get their consent. You must make sure that your parent or
                    legal guardian knows and agrees each time before you:</p>
                <ul>
                    <li>email us, or ask us to email anything to you;</li>
                    <li>send any information to us;</li>
                    <li>enter any competition or game that requires information about you or offers a prize;</li>
                    <li>purchase an official membership; or</li>
                    <li>offer or agree to buy anything online.</li>
                </ul>
                <p>Once we receive appropriate authorization or consent from your parents or legal guardian, we may
                    collect your date of birth and retain that with your name and other details you may provide. This is
                    so we can ensure we treat you in an age appropriate way in line with this Privacy Notice.</p>
                <p>For so long as you are under the age of 16 we will not send you any marketing communications, allow
                    you to access any of our digital platform message boards, or share your details with our partners.
                    However, if you have signed up to receive a product or service we may contact you about this.</p>
                <p><strong><br>WHO DO WE SHARE YOUR PERSONAL DATA WITH?</strong></p>
                <p>As a global business, Piramal may share your personal data with Piramal Group companies, partners,
                    service providers and other trusted third parties based outside the country in which you live so
                    that they may process that data on our behalf as necessary, in connection with providing our
                    products and services to you, fulfilling contractual arrangements and legal or regulatory
                    requirements. Piramal requires that its service providers and such other third parties keep your
                    personal data confidential and that they only use the personal data in furtherance of the specific
                    purpose for which it was disclosed.</p>
                <p>We may share your personal data with:</p>
                <ul>
                    <li>law enforcement or government authorities where they have followed due legal process to request
                        us to disclose the information</li>
                    <li>third party providers of services and web analytics tool providers, if you have any queries
                        about our third party service providers, then you may contact our Data Protection Officer
                        (contact details included in the later part of this notice).</li>
                </ul>
                <p><strong><br>TRANSFERRING YOUR PERSONAL DATA</strong></p>
                <p>We may transfer your personal data to servers located outside the country in which you live or to
                    affiliates or other trusted third parties based in other countries so that they may process personal
                    data on our behalf. By using a Piramal site or otherwise providing Piramal with personal data, you
                    agree to us doing so in accordance with the terms of this Privacy Notice and applicable data
                    protection laws and regulations. Piramal will ensure to a reasonable extent that anyone processing
                    your personal data outside your country of origin is required to implement measures to protect it
                    and is only entitled to process it in accordance with Piramal ‘s instructions.</p>
                <p>Many countries do not afford the same legal protection to personal data as you might enjoy in your
                    country of origin. While your personal data is in another country, it may be accessed by the courts,
                    law enforcement and national security authorities in that country in accordance with its laws.</p>
                <p><strong><br>RETENTION OF PERSONAL DATA</strong></p>
                <p>You are responsible for providing Piramal with accurate and complete personal data. Please notify us
                    of any changes to your personal data. Piramal shall take reasonable steps to ensure that your
                    personal data is kept accurate, complete, and current.</p>
                <p>We will retain your personal data for the period necessary to fulfil the purposes outlined in this
                    Privacy Notice unless a longer retention period is required or permitted by law.</p>
                <p><strong><br>COOKIES</strong></p>
                <p>In common with many other website operators, we use standard technology called ‘cookies’ on our
                    website. Cookies are small pieces of information that are stored by your browser on your computer’s
                    hard drive and they are used to record how you navigate this website on each visit.</p>
                <p>We automatically collect and temporarily store the following information about your visit:</p>
                <ul>
                    <li>the name of the domain you use to access the Internet;</li>
                    <li>the date and time of your visit;</li>
                    <li>the pages you visited; and</li>
                    <li>the address of the web site you came from when you came to visit</li>
                </ul>
                <p>We use this information for statistical purposes and to help us make our site more useful to
                    visitors. Unless it is specifically stated otherwise, no additional information will be collected
                    about you.</p>
                <p><strong><br>SAFEGUARDING YOUR PERSONAL DATA</strong></p>
                <p>We take all reasonable precautions to keep your personal data secure and require any third parties
                    that handle or process your personal data for us to do the same. Access to your personal data is
                    restricted to prevent unauthorised access, modification or misuse and is only permitted among our
                    employees and agents on a need-to-know basis.</p>
                <p><strong><br>YOUR PRIVACY RIGHTS AND WHO TO CONTACT</strong></p>
                <p>We provide you with reasonable access to view and review your personal data and request correction
                    and deletion where appropriate.&nbsp; In order to protect your privacy, we will take reasonable
                    steps to verify your identity before granting access to your personal data.</p>
                <p>If you have any questions, comments or concerns about how we handle your personal data, then you may
                    contact us at dpo.corporate&#64;piramal.com.</p>
                <p>You have the right to tell us if you:</p>
                <ul>
                    <li>don’t want to be contacted in the future by us</li>
                    <li>would like a copy of the personal data which we hold about you</li>
                    <li>would like to delete your personal data in our records</li>
                    <li>wish to report any misuse of your personal data</li>
                    <li>would like to correct or update your personal data</li>
                </ul>
                <p>To exercise any of the above listed rights you may contact our Data Protection Officer. To assist us
                    in dealing with your request, please provide your full name, address, date of birth and email
                    address.</p>
                <p>If you have subscribed to receive marketing communications, you can unsubscribe by contacting our
                    Data Protection Officer.</p>
                <p><strong><br>CHANGES TO OUR PRIVACY NOTICE</strong></p>
                <p>We may change our Privacy Notice from time to time and post the updated version of the same. We
                    encourage you to visit frequently to stay informed about how we use your personal data.</p>
                <p><strong><br>HANDLING PRIVACY CONCERNS</strong></p>
                <p>If you have any questions about this Privacy Notice or if you believe that your personal data is not
                    handled in accordance with the applicable law or this notice, then you may contact us at <a
                        href="mailto:DPO.financialservices@piramal.com">DPO.financialservices&#64;piramal.com</a> for
                    the Financial Services Business and <a
                        href="mailto:DPO.pharma@piramal.com">DPO.pharma&#64;piramal.com</a> for the Pharma Business.</p>
                <p>w.e.f. 25th May 2018</p>
            </div>
        </div>
    </div>


</section>