
    <section class="section fit d-flex align-items-center nav_padding p-bg " >
        <div class="container container_space" >
            <div class="row mb-4" >
                <div class="col-sm-12 text-center" >
                    <span class="fs-5 fw-lighter text-uppercase" >News & Media</span>
                    <div >
                        <h1 class="h-font display-5 lh-base mb-1 fadeOutUp" pAnimateOnScroll enterClass="fadeInUp" leaveClass="fadeOutUp" >Latest updates from Piramal Group</h1>
                        <span class="underline delay-1" pAnimateOnScroll enterClass="show" ></span>
                    </div> 
                </div>
            </div>
            <div class="row mb-3" >
                <div class="col-sm-12" >
                    <div class="swiper newMediaCarousel z-0">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide p-2">
                            <div class="news_card" pRipple >
                                <p class="label" >Press Release</p>
                                <h4 class="headline" >Piramal Finance secures $100 Million loan to support social impact projects</h4>
                                <p class="description" >Lorem ipsum dolor sit amet, consectetuer adipiscing elit... Lorem ipsum dolor sit amet, consectetuer adipiscing elit...</p>
                                <p class="date" >Aug 09, 2022</p>
                                <p class="mb-0" >
                                <a routerLink="" pRipple class="btn btn-link text-primary clear overflow-visible px-0">Read the story <i class="pi pi-arrow-up-right align-middle ms-1"></i></a>
                                </p>
                            </div>
                          </div>
                          <div class="swiper-slide p-2">
                            <div class="news_card" pRipple >
                                <p class="label" >Press Release</p>
                                <h4 class="headline" >Piramal Finance secures $100 Million loan to support social impact projects</h4>
                                <p class="description" >Lorem ipsum dolor sit amet, consectetuer adipiscing elit... Lorem ipsum dolor sit amet, consectetuer adipiscing elit...</p>
                                <p class="date" >Aug 09, 2022</p>
                                <p class="mb-0" >
                                    <a pRipple class="btn btn-link text-primary clear overflow-visible px-0">Read the story <i class="pi pi-arrow-up-right align-middle ms-1"></i></a>
                                </p>
                            </div>
                          </div>
                          <div class="swiper-slide p-2">
                            <div class="news_card" pRipple >
                                <p class="label" >Press Release</p>
                                <h4 class="headline" >Piramal Finance secures $100 Million loan to support social impact projects</h4>
                                <p class="description" >Lorem ipsum dolor sit amet, consectetuer adipiscing elit... Lorem ipsum dolor sit amet, consectetuer adipiscing elit...</p>
                                <p class="date" >Aug 09, 2022</p>
                                <p class="mb-0" >
                                <a pRipple class="btn btn-link text-primary clear overflow-visible px-0">Read the story <i class="pi pi-arrow-up-right align-middle ms-1"></i></a>
                                </p>
                            </div>
                          </div>
                        </div>
                       
                      </div>
                </div>
            </div>
            <div class="row align-items-center" >
                <div class="col d-none d-lg-block" >

                </div>
                <div class="col text-start text-lg-center" >
                    <a routerLink="/news-and-media" pRipple class="btn btn-primary rounded-5"  >Discover More <i class="pi pi-arrow-up-right align-middle ms-1"></i></a>
                </div>
                <div class="col text-end" >
                    <div class="d-inline-flex align-items-center justify-content-center swiper_nav" >
                            
                        <div class="swiper-button-prev position-static">
                            <span class="p_icon sm fs-3 text-primary border-0" >
                                <i class="pi pi-angle-left" ></i>
                            </span>
                        </div>
                        <div class="swiper-button-next position-static ">
                            <span class="p_icon sm fs-3 text-primary border-0" >
                                <i class="pi pi-angle-right" ></i>
                            </span>
                        </div>
                        
                        </div>
                </div>
            </div>

        </div>
    </section>
