
    <section  class="section fit d-flex align-items-center nav_padding bg-secondary  " >
        <div class="container container_space" >
            <div class="row  align-items-center" >
                <div class="col-sm-12 col-md-12 col-lg-6 order-1 order-lg-0" >
                    <app-parallax-on-hover imageSrc="assets/images/piramal-bharat.webp" ratio="ratio-4x3" ></app-parallax-on-hover>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 text-white order-0 order-lg-1 mb-4 mb-lg-0" >
                    <div class="px-lg-4" >
                    <span class="fs-5 fw-lighter text-uppercase" >Social Responsibility</span>
                    <div class="mb-3 mt-3" >
                        <h2 class="h-font display-5 mb-3 fadeOutUp " pAnimateOnScroll enterClass="fadeInUp" leaveClass="fadeOutUp" >
                            We live to do good for <br><span class="clip-text" >Bharat</span></h2>
                       <span class="underline start delay-1" pAnimateOnScroll enterClass="show" ></span>
                    </div> 
                    <p class="fw-normal mb-4 fadeOutUp delay-1" pAnimateOnScroll enterClass="fadeInUp" leaveClass="fadeOutUp" >
                       <span class="opacity-50 " >
                        Growth is not just for our business. It is necessary for the greater good. Our 5 big bets aim to improve the living conditions of India's minority communities and create a strong leadership foundation in the nation. 
                       </span>
                    </p>
                    <p class="fadeOutUp delay-2 mb-2" pAnimateOnScroll enterClass="fadeInUp" leaveClass="fadeOutUp" >
                        <a href="https://www.piramalfoundation.org/" target="_blank" pRipple class="btn btn-primary rounded-5 mt-2" >
                            Explore our Big Bets <i class="pi pi-arrow-up-right align-middle ms-1"></i>
                        </a>
                    </p>
                    </div>

                </div>
            </div>
        </div>
    </section>
