



<section class="section d-flex align-items-center fit nav_padding bg-light-gray">
        <div class="container ">
            <div class="row">
                <div class="col-sm-12">

                    <div *ngIf="currentStep === 'step1'">
                        <div class="row justify-content-between inline_fit">
                            <div class="col-sm-12 col-md-12 col-lg-6 mb-4 mb-lg-0 align-self-center">
                                <div class="mb-3 mt-3">
                                    <h2 class="h-font display-5 mb-3 fadeOutUp fw-semibold" pAnimateOnScroll
                                        enterClass="fadeInUp" leaveClass="fadeOutUp">
                                        "Business, if it’s done in the right manner, is a force
                                        for good."
                                    </h2>
                                    <span class="underline start delay-1" pAnimateOnScroll
                                        enterClass="show"></span>
                                </div>
                                <div class="mb-4 mb-lg-5">
                                    <h2 class="h-font fs-5 fw-semibold fadeOutUp delay-1" pAnimateOnScroll
                                        enterClass="fadeInUp" leaveClass="fadeOutUp">
                                        Ajay Piramal
                                    </h2>
                                    <p class="fadeOutUp" pAnimateOnScroll enterClass="fadeInUp delay-2"
                                        leaveClass="fadeOutUp">
                                        Chairman and Executive Director
                                    </p>
                                </div>
                                <button pRipple
                                    class="btn btn-primary btn-lg btn-lg-lg rounded-5 fadeOutUp delay-3"
                                    pAnimateOnScroll enterClass="fadeInUp" leaveClass="fadeOutUp"
                                    (click)="handleSteps('step2')">
                                    Explore our leadership
                                    <i class="pi pi-arrow-up-right align-middle ms-1"></i>
                                </button>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-5">
                                <figure class="m-0 p-bg p-bg-100 p-bg-center-top h-100 ajay-pirmal-profile-pic">
                                    <img src="assets/images/ajay-pirmal.webp" alt=""  />
                                </figure>
                            </div>
                        </div>
                      
                      </div>
                      
                      <div *ngIf="currentStep === 'step2'">
                        <div class="row mb-2">
                            <div class="col text-start mb-3">
                                <button pRipple
                                    class="p_icon lg bg-transparent text-primary border-0 overflow-visible"
                                    (click)="handleSteps('step1')">
                                    <i class="pi pi-chevron-left"></i>
                                </button>
                            </div>
                        </div>
                        <div class="row g-0 rounded-4 overflow-hidden mb-5">
                            <div class="col-sm-12 col-md-6 col-lg-3" *ngFor="let profile of data">
                                <div class="profile_card" (click)="showProfileDetail(profile)">
                                    <div class="image">
                                        <img src="{{ profile.photoUrl }}" alt="" />
                                    </div>
                                    <div class="caption">
                                        <h4 class="title">{{ profile.name }}</h4>
                                        <span class="subText">
                                            {{ profile.designation }}
                                        </span>
                                        <div class="description">
                                            <p class="para">
                                                {{ profile.shortDesription }}
                                            </p>
                                            <p>
                                                <button pRipple
                                                    class="btn btn-link text-primary clear overflow-visible">
                                                    Read More
                                                    <i class="pi pi-arrow-up-right align-middle ms-1"></i>
                                                </button>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                      </div>
                      
                    
                </div>
            </div>
        </div>
    </section>

<p-dialog [showHeader]="false" class="p-0 profile_dialog" [style]="{ width: '100%' }" [(visible)]="profileDetail"
    [modal]="true" [draggable]="false" [resizable]="false" [closable]="true" [dismissableMask]="true" [closable]="true">
    <span class="close" (click)="profileDetail = false"><i class="pi pi-times"></i></span>
    <div class="profile_detail_card">
        <div class="row h-100 g-0">
            <div class="col-sm-12 col-md-4 h-100">
                <figure class="profile_image">
                    <img src="{{ selectedProfile?.photoUrl }}" alt="{{ selectedProfile?.name }}" class="cover" />
                </figure>
            </div>
            <div class="col-sm-12 col-md-8">
                <div class="profile_content">
                    <h2 class="fs-5 mb-0 h-font fw-semibold text-uppercase">
                        {{ selectedProfile?.name }}
                    </h2>
                    <p class="fw-normal opacity-75 ">{{ selectedProfile?.designation }}</p>
                    <div [innerHTML]="selectedProfile?.desription" class="fs-6 lh-lg description"></div>
                </div>
            </div>
        </div>
    </div>
</p-dialog>