
  
  <main>
    <div class="scrollspy" id="home">
      <app-banner></app-banner>
    </div>
    <div class="scrollspy" id="purpose">
      <app-purpose></app-purpose>
    </div>
    <div class="scrollspy" id="presence">
      <app-presence></app-presence>
    </div>
    <div class="scrollspy" id="businesses">
      <app-businesses></app-businesses>
    </div>
    <div class="scrollspy" id="socialResponsibility">
      <app-social-responsibility></app-social-responsibility>
    </div>
    <div class="scrollspy" id="leadership">
      <app-leadership></app-leadership>
    </div>
    <div class="scrollspy" id="newsMedia">
      <app-news-media></app-news-media>
    </div>
  </main>
  