
    <section class="section fit d-flex align-items-center nav_padding p-bg p-bg-end counter-container" >
        <div class="container container_space" >
            <div class="row mb-4" >
                <div class="col-sm-12 text-center" >
                    <span class="fs-5 fw-lighter text-uppercase" >Presence</span>
                    <div class="mb-4" >
                        <h2 class="h-font display-5 lh-base mb-1 fadeOutUp" pAnimateOnScroll enterClass="fadeInUp" leaveClass="fadeOutUp" >Over 4 decades of heritage</h2>
                        <span class="underline delay-1" pAnimateOnScroll enterClass="show" ></span>
                    </div> 
                </div>
            </div>
            <div class="row align-items-start text-center" >
                <div class="col-sm-12 col-md-6 col-lg-4 mb-4" >
                    <p class="d-flex align-items-center justify-content-center display-1 fw-semibold text-primary h-font" ><span><app-number-counter [minCount]="0" [maxCount]="30"
                        [duration]="3000"></app-number-counter></span> <span class="mb-2" >+</span></p>
                    <p class="fs-7 opacity-75" >Countries with our offices</p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 mb-4" >
                    <p class="d-flex align-items-center justify-content-center display-1 fw-semibold text-primary h-font" ><span><app-number-counter [minCount]="0" [maxCount]="100"
                        [duration]="10000"></app-number-counter></span> <span class="mb-2" >+</span></p>
                    <p class="fs-7 opacity-75" >Markets served globally</p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 mb-4" >
                    <p class="d-flex align-items-center justify-content-center display-1 fw-semibold text-primary h-font" ><span><app-number-counter [minCount]="0" [maxCount]="11.3"
                        [duration]="1100"></app-number-counter></span> <span class="mb-2 ms-2" >Cr</span></p>
                    <p class="fs-7 opacity-75" >Indian lives impacted </p>
                </div>
            </div>
            <!--<div class="row" >
                <div class="col-sm-12 text-center" >
                    <button pRipple class="btn btn-primary btn-lg btn-lg-lg rounded-5" >
                        Watch our journey through decades <i class="pi pi-arrow-up-right align-middle ms-1"></i>
                    </button>
                </div>
            </div>-->
        </div>
    </section>
