<main>
    <section class="section d-flex align-items-end nav_padding  banner" style="background-image: url(assets/images/career-banner.jpg);" >
        <span class="overlay" style="background-color: rgba(0, 0, 0, 0.3);" ></span>
        <div class="container container_space z-2" >
            <div class="row align-items-end " >
                <div class="col-sm-12 text-white" >
                    <h2 class="h-font display-5" >Life at Piramal</h2>
                    <p class="opacity-75" >Our purpose of doing well and doing good extends to our team as well. Here's how.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="section bg-light-gray" >
        <div class="container container_space" >
            <div class="row align-items-center" >
                <div class="col-sm-12 col-md-12 col-lg-6 order-1 order-lg-0" >
                    <app-parallax-on-hover imageSrc="assets/images/the-culture.webp" ratio="ratio-4x3" ></app-parallax-on-hover>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 order-0 order-lg-1 mb-4 mb-lg-0" >
                    <div class="px-lg-4" >
                        <div class="mb-3 " >
                            <h2 class="h-font display-5 mb-3  "  >
                                The Culture</h2>
                            <span class="underline start delay-1" pAnimateOnScroll enterClass="show" ></span>
                        </div> 
                        <p class="lh-lg " >
                           <span class="opacity-50 " >
                            We prioritise our people and embrace growth and innovation at our workplace everyday. With a diverse and inclusive culture, we aim to foster continuous learning for our employees. An inspiring and valued workplace is above everything at Piramal Group. So that our team can exceed their own expectations and keep growing. 
                           </span>
                        </p>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    <section class="section" >
        <div class="container container_space" >
            <div class="row mb-4" >
                <div class="col-sm-12 text-center" >
                    <div>
                        <h2 class="h-font display-5 lh-base mb-3 fadeOutUp" pAnimateOnScroll enterClass="fadeInUp" leaveClass="fadeOutUp" >Explore Opportunities</h2>
                        <span class="underline delay-1" pAnimateOnScroll enterClass="show" ></span>
                    </div> 
                </div>
            </div>
            <div class="row g-0 rounded-5 overflow-hidden" >
                <div class="col-sm-12" >
                    <div class="section p-3 text-center d-flex align-items-center justify-content-center" style="background-image: url(assets/images/financial-services-bg.webp); min-height: 150px;" >
                        <a pRipple href="https://www.piramalfinance.com/" target="_blank" class="btn btn-primary rounded-5 overflow-visible" >
                            Piramal Finance <i class="pi pi-arrow-up-right align-middle ms-1"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-12" >
                    <div class="section p-3 text-center d-flex align-items-center justify-content-center" style="background-image: url(assets/images/pharmaceuticals.webp); min-height: 150px;" >
                        <a pRipple href="https://www.piramalpharma.com/" target="_blank" class="btn btn-primary rounded-5 overflow-visible" >
                            Piramal Pharmaceuticals <i class="pi pi-arrow-up-right align-middle ms-1"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-12" >
                    <div class="section p-3 text-center d-flex align-items-center justify-content-center" style="background-image: url(assets/images/real-estate.webp); min-height: 150px;" >
                        <a pRipple href="https://www.piramalrealty.com/" target="_blank" class="btn btn-primary rounded-5 overflow-visible" >
                            Piramal Realty <i class="pi pi-arrow-up-right align-middle ms-1"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-12" >
                    <div class="section p-3 text-center d-flex align-items-center justify-content-center" style="background-image: url(assets/images/foundation.webp); min-height: 150px;" >
                        <a pRipple href="https://www.piramalfoundation.org/" target="_blank" class="btn btn-primary rounded-5 overflow-visible" >
                            Piramal Foundation <i class="pi pi-arrow-up-right align-middle ms-1"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>