<section class="section fit d-flex align-items-start nav_padding">
    <div class="container container_space">
        <div class="row mb-4">
            <div class="col-sm-12 ">
                <div class="mb-3" >
                    <a (click)="goBack()" class="p_icon clear md bg-secondary text-white rounded hover" >
                        <i class="pi pi-arrow-left align-middle fs-7 " ></i>
                    </a>
                </div>
                <div>
                    <h2 class="h-font display-6 lh-base mb-1">Disclaimer</h2>
                    <span class="underline start delay-1" pAnimateOnScroll enterClass="show"></span>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-12">
                <p>Piramal Enterprises Limited operates the Site and all rights thereto are owned and reserved by Piramal Enterprises Limited.</p>
                <p> Any product/company information or other information published via the Site is given to the best of our (Piramal Enterprises Limited) knowledge. All this information shall not, however, as far as legally permissible, create any guarantee or representation of any kind or any liability of Piramal Enterprises Limited and shall not relieve the User from undertaking its own investigations and tests.</p>
                    
                    <p> Without liability whatsoever Piramal Enterprises Limited may without notice modify and/or discontinue operation of all or portions of this Site at any time in its sole discretion, and assumes no responsibility to update the Site.</p>
            </div>
        </div>
    </div>


</section>